@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headingColor: #263238;
  --textColor: #546e7a;
  --buttonColor: #2196f3;
  --buttonTextColor: #ffffff;
  --backgroundColor: #fafafa;
  --rightColor: #4caf50;
  --wrongColor: #f44336;
  --font: 'Nunito', sans-serif;
  --transition: all 0.3s linear;
  --radius: 1.5rem;
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --footerHeight: 50px;
}

body {
background-color: var(--backgroundColor);
font-family: var(--font);
letter-spacing: 0.05rem;
}

h1, h2, h3, h4, h5, h6 {
color: var(--headingColor);
text-align: center;
}

p {
color: var(--textColor);
text-align: center;
font-size: 1.1rem;
line-height: 1.5rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading p {
  font-size: 24px;
  font-weight: bold;
}

.main-paragraph {
max-width: 400px;
margin: 0 auto;
margin-top: 1.5rem;
}

.main-container {
max-width: 1170px;
width: 80vw;
margin: 0 auto;
}

.underline {
width: 16rem;
height: 0.2rem;
background: none;
margin: 0 auto;
margin-top: 1.5rem;
position: relative;
}

.underline::before {
content: '';
position: absolute;
bottom: -0.1rem;
left: 0;
width: 100%;
height: 0.2rem;
background-color: var(--buttonColor);
transform: scaleX(0);
transition: transform 0.3s ease-in-out;
transform-origin: left center;
}

.underline:hover::before {
transform: scaleX(1);
}

.hero {
width: 100vw;
min-height: calc(100vh - var(--footerHeight));
display: grid;
place-items: center;
padding-top: 2rem;
padding-bottom: 2rem;
}

.btn-container {
display: grid;
place-items: center;
row-gap: 1rem;
padding: 1rem 0;
}

.btn {
width: 240px;
padding: 1rem 2rem;
background-color: var(--buttonColor);
border: none;
color: var(--buttonTextColor);
font-size: 1rem;
font-weight: bold;
letter-spacing: 0.1rem;
transition: var(--transition);
border-radius: var(--radius);
box-shadow: var(--shadow-md);
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-xl);
}

.start {
  margin-top: 5rem;
  text-align: center;
}

.answer-text {
  margin-top: 1rem;
  opacity: 1;
  font-weight: bold;
}

.right {
  opacity: 1;
  color: var(--rightColor);
}

.wrong {
  opacity: 1;
  color: var(--wrongColor);
}

.stats {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.stat-right, .stat-wrong {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.stat-right {
  background-color: var(--rightColor);
}

.stat-wrong {
  background-color: var(--wrongColor);
}

.stat-right p, .stat-wrong p {
  color: var(--buttonTextColor);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.125rem;
}

.stat .right-count {
  font-size: 2rem;
}

.stat .wrong-count {
  font-size: 2rem;
}

.btn-sound {
  margin: 0 0.5rem;
  width: 5rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--buttonColor);
  border: transparent;
  color: var(--buttonTextColor);
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn-sound:hover {
  transform: scale(1.2);
}

.sound-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sound-container p {
  margin-right: 0.5rem;
}

.footer {
  height: var(--footerHeight);
  background-color: #111;
  display: grid;
  place-items: center;
}

.footer p {
  color: var(--buttonTextColor);
}

@media screen and (min-width: 576px) {
  .btn {
    width: 360px;
  }
}